<div class="content">
    <div class="header">
        <div class="info">
            <div class="title">Profit and Loss Statement</div>
            
            <div class="summary">
                <div class="summaryLabelWrapper">
                    <div>Period</div>
                    <div>Currency</div>
                    <div>Balance</div>
                    <div>Dividends</div>
                    <div>Custody Fee</div>
                    <div>Total (by sells)</div>
                </div>
                <div class="summaryValueWrapper">
                    <div>2022-01-01 - 2022-12-31 (fake)</div>
                    <div><%= report.currency %></div>
                    <div><%= report.balance %></div>
                    <div>
                        gross: <%= report.dividends.withTax %> /
                        net: <%= report.dividends.amount %> /
                        tax: <%= report.dividends.tax %>
                    </div>
                    <div><%= report.custodyFee %></div>
                    <div>
                        FIFO: <%= report.totalFIFO %> /
                        LIFO: <%= report.totalLIFO %>
                    </div>
                </div>
            </div>
        </div>
        <div class="generationDate">Generated on the 2023-01-28 (fake)</div>
    </div>
    <table>
        <tr>
            <th rowspan="2" class="date">Date</th>
            <th rowspan="2">Symbol</th>
            <th rowspan="2">Quantity</th>
            <th colspan="2">Cost Basis</th>
            <th rowspan="2">Gross Proceeds</th>
            <th colspan="2">PnL</th>
        </tr>
        <tr>
            <th class="secondRowHeader">FIFO</th>
            <th class="secondRowHeader">LIFO</th>
            <th class="secondRowHeader">FIFO</th>
            <th class="secondRowHeader">LIFO</th>
        </tr>
        <% report.summaryFIFO.forEach((item, index)=> { %>
            <tr>
                <td class="date"><%= item.date %></td>
                <td>
                    <a href="?symbol=<%= item.symbol %>"><%= item.symbol %></a>
                </td>
                <td><%= item.quantity.toFixed(8) %></td>
                <td><%= item.costBasis %></td>
                <td><%= report.summaryLIFO[index].costBasis %></td>
                <td><%= item.grossProceeds %></td>
                <td><%= item.pnl %></td>
                <td><%= report.summaryLIFO[index].pnl %></td>
            </tr>
        <% }) %>
    </table>
</div>
