<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit and Loss Statement</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="content">
        <%- include('./update_report', { report }) %>
        <% if (report.symbol) { %>
            <%- include('./symbol_report', { report }) %>
        <% } else { %>
            <%- include('./common_report', { report }) %>
        <% } %>
    </div>
    <script>
        const __CURRENCY__ = "<%- report.currency %>"
        const __DATE_FROM__ = "<%- report.from %>"
        const __DATE_TO__ = "<%- report.to %>"
    </script>
    <script src="script.js"></script>
</body>
</html>
