<div class="header">
    <div class="info">
        <div class="title">Profit and Loss Statement (<%= report.symbol %>)</div>
        <div class="summary">
            <div class="summaryRow">
                <div class="summaryLabel">Period</div>
                <div class="summaryValue">
                    <input
                        type="date"
                        id="dateFromInput"
                        required
                    >
                    <span>-</span>
                    <input
                        type="date"
                        id="dateToInput"
                        required
                    >
                    <button id="dateUpdateButton">update</button>
                </div>
            </div>
            <div class="summaryRow">
                <div class="summaryLabel">Currency</div>
                <div class="summaryValue">
                    <select id="currencySelect">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                    </select>
                </div>
            </div>
            <div class="summaryRow">
                <div class="summaryLabel">Dividends</div>
                <div class="summaryValue">net: <%= report.dividends %></div>
            </div>
            <div class="summaryRow">
                <div class="summaryLabel">Buy amount</div>
                <div class="summaryValue"><%= report.summary.buy %></div>
            </div>
            <div class="summaryRow">
                <div class="summaryLabel">Sell amount</div>
                <div class="summaryValue"><%= report.summary.sell %></div>
            </div>
            <div class="summaryRow">
                <div class="summaryLabel">Net amount</div>
                <div class="summaryValue"><%= report.summary.netAmont %></div>
            </div>
            <div class="summaryRow">
                <div class="summaryLabel">Quantity</div>
                <div class="summaryValue"><%= report.summary.quantity.toFixed(8) %></div>
            </div>
            <div class="summaryRow">
                <div class="summaryLabel">Break-Even Point</div>
                <div class="summaryValue"><%= report.summary.bep %></div>
            </div>
            <div class="summaryRow">
                <div class="summaryLabel">Profit and Loss</div>
                <div class="summaryValue">LIFO: <%= report.pnlTotal %></div>
            </div>
        </div>
    </div>
    <div class="generationDate">Generated on the <%= generationDate  %></div>
</div>
<table>
    <tr>
        <th class="date">Date</th>
        <th>Quantity</th>
        <th>Cost Basis</th>
        <th>Gross Proceeds</th>
        <th>PnL</th>
    </tr>
    <% report.sellsSummary.forEach((item)=> { %>
        <tr>
            <td class="date"><%= item.date %></td>
            <td><%= item.quantity.toFixed(8) %></td>
            <td><%= item.costBasis %></td>
            <td><%= item.grossProceeds %></td>
            <td><%= item.pnl %></td>
        </tr>
    <% }) %>
</table>
