<div class="content">
    <div class="header">
        <div class="info">
            <div class="title">Profit and Loss Statement (<%= report.symbol %>)</div>
            
            <div class="summary">
                <div class="summaryLabelWrapper">
                    <div>Period</div>
                    <div>Currency</div>
                    <div>Dividends</div>
                    <div>Buy amount</div>
                    <div>Sell amount</div>
                    <div>Net amount</div>
                    <div>Quantity</div>
                    <div>Break-Even Point</div>
                    <div>Profit and Loss</div>
                </div>
                <div class="summaryValueWrapper">
                    <div>2022-01-01 - 2022-12-31 (fake)</div>
                    <div><%= report.currency %></div>
                    <div>net: <%= report.dividends %></div>
                    <div><%= report.summary.buy %></div>
                    <div><%= report.summary.sell %></div>
                    <div><%= report.summary.netAmont %></div>
                    <div><%= report.summary.quantity.toFixed(8) %></div>
                    <div><%= report.summary.bep %></div>
                    <div>LIFO: <%= report.pnlTotal %></div>
                </div>
            </div>
        </div>
        <div class="generationDate">Generated on the 2023-01-28 (fake)</div>
    </div>
    <table>
        <tr>
            <th class="date">Date</th>
            <th>Quantity</th>
            <th>Cost Basis</th>
            <th>Gross Proceeds</th>
            <th>PnL</th>
        </tr>
        <% report.sellsSummary.forEach((item)=> { %>
            <tr>
                <td class="date"><%= item.date %></td>
                <td><%= item.quantity.toFixed(8) %></td>
                <td><%= item.costBasis %></td>
                <td><%= item.grossProceeds %></td>
                <td><%= item.pnl %></td>
            </tr>
        <% }) %>
    </table>
</div>
